#001_cantstop_start{color=#001001;}
div.step{font-size:12xp; color: #FFD700; font-weight: bold;}
div#step_2_0:before,div#step_12_0:before {content:"132";}
div#step_3_0:before,div#step_11_0:before {content:"233";}
div#step_4_0:before,div#step_10_0:before {content:"356";}
div#step_5_0:before,div#step_9_0:before {content:"447";}
div#step_6_0:before,div#step_8_0:before {content:"561";}
div#step_7_0:before {content:"643";}
div#cantstop_wrap:after{
font-family: "Courier";
font-size: 15px;
content:
" 23>>> 234:521; 235:584; 236:683; 237:752; 238:756; 239:712; 23A:634; 23B:525; 23C:438"
" 24>>> -------; 245:657; 246:758; 247:807; 248:815; 249:756; 24A:738; 24B:634; 24C:551"
" 25>>> -------; -------; 256:770; 257:810; 258:829; 259:760; 25A:758; 25B:712; 25C:634"
" 26>>> -------; -------; -------; 267:864; 268:883; 269:833; 26A:811; 26B:756; 26C:738"
" 27>>> -------; -------; -------; -------; 278:890; 279:835; 27A:833; 27B:778; 27C:781"
" 28>>> -------; -------; -------; -------; -------; 289:822; 28A:815; 28B:736; 28C:738"
" 29>>> -------; -------; -------; -------; -------; -------; 29A:710; 29B:636; 29C:634"
" 2A>>> -------; -------; -------; -------; -------; -------; -------; 2AB:578; 2AC:552"
" 2B>>> -------; -------; -------; -------; -------; -------; -------; -------; 2BC:438"

" 34>>> -------; 345:669; 346:742; 347:791; 348:796; 349:778; 34A:756; 34B:656; 34C:579"
" 35>>> -------; -------; 356:771; 357:787; 358:808; 359:776; 35A:758; 35B:710; 35C:636"
" 36>>> -------; -------; -------; 367:865; 368:853; 369:826; 36A:822; 36B:758; 36C:736"
" 37>>> -------; -------; -------; -------; 378:893; 379:842; 37A:835; 37B:776; 37C:778"
" 38>>> -------; -------; -------; -------; -------; 389:835; 38A:833; 38B:758; 38C:756"
" 39>>> -------; -------; -------; -------; -------; -------; 39A:778; 39B:710; 39C:712"
" 3A>>> -------; -------; -------; -------; -------; -------; -------; 3AB:656; 3AC:634"
" 3B>>> -------; -------; -------; -------; -------; -------; -------; -------; 3BC:525"

" 45>>> -------; -------; 456:796; 457:848; 458:846; 459:798; 45A:822; 45B:778; 45C:710"
" 46>>> -------; -------; -------; 467:886; 468:911; 469:864; 46A:883; 46B:833; 46C:815"
" 47>>> -------; -------; -------; -------; 478:903; 479:893; 47A:876; 47B:835; 47C:833"
" 48>>> -------; -------; -------; -------; -------; 489:863; 48A:883; 48B:822; 48C:811"
" 49>>> -------; -------; -------; -------; -------; -------; 49A:822; 49B:758; 49C:756"
" 4A>>> -------; -------; -------; -------; -------; -------; -------; 4AB:756; 4AC:738"
" 4B>>> -------; -------; -------; -------; -------; -------; -------; -------; 4BC:634"

" 56>>> -------; -------; -------; 567:886; 568:895; 569:866; 56A:863; 56B:835; 56C:822"
" 57>>> -------; -------; -------; -------; 578:914; 579:834; 57A:893; 57B:842; 57C:835"
" 58>>> -------; -------; -------; -------; -------; 589:866; 58A:864; 58B:826; 58C:833"
" 59>>> -------; -------; -------; -------; -------; -------; 59A:798; 59B:776; 59C:760"
" 5A>>> -------; -------; -------; -------; -------; -------; -------; 5AB:778; 5AC:756"
" 5B>>> -------; -------; -------; -------; -------; -------; -------; -------; 5BC:712"

" 67>>> -------; -------; -------; -------; 678:920; 679:914; 67A:903; 67B:893; 67C:890"
" 68>>> -------; -------; -------; -------; -------; 689:895; 68A:911; 68B:853; 68C:883"
" 69>>> -------; -------; -------; -------; -------; -------; 69A:846; 69B:808; 69C:829"
" 6A>>> -------; -------; -------; -------; -------; -------; -------; 6AB:796; 6AC:815"
" 6B>>> -------; -------; -------; -------; -------; -------; -------; -------; 6BC:756"

" 78>>> -------; -------; -------; -------; -------; 789:886; 78A:886; 78B:865; 78C:864"
" 79>>> -------; -------; -------; -------; -------; -------; 79A:848; 79B:787; 79C:809"
" 7A>>> -------; -------; -------; -------; -------; -------; -------; 7AB:791; 7AC:807"
" 7B>>> -------; -------; -------; -------; -------; -------; -------; -------; 7BC:752"

" 89>>> -------; -------; -------; -------; -------; -------; 89A:796; 89B:771; 89C:770"
" 8A>>> -------; -------; -------; -------; -------; -------; -------; 8AB:742; 8AC:758"
" 8B>>> -------; -------; -------; -------; -------; -------; -------; -------; 8BC:683"

" 9A>>> -------; -------; -------; -------; -------; -------; -------; 9AB:669; 9AC:657"
" 9B>>> -------; -------; -------; -------; -------; -------; -------; -------; 9BC:584"

" AB>>> -------; -------; -------; -------; -------; -------; -------; -------; ABC:522"
}
#001_cantstop_end{color=#000001;}
